
h1{
    text-align: center;
    margin-bottom: 30px;
}
.movies-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;    
}

.movie-card img{
    width: 100%;
    height: auto;
}

h3{
    text-align: center; 
}